let mapleader=" "

""" Plugins -------------------------------------------------------------------
set surround
set commentary

set showmode
set incsearch
set hlsearch

""" Key Maps ------------------------------------------------------------------

" Move lines up or down
xnoremap J :move '>+1<CR>gv=gv
xnoremap K :move '<-2<CR>gv=gv

" Clear search hightlight
nnoremap <leader><esc> :noh<CR>

map <Leader>bd :bd<cr>
map <C-n> <Action>(NextTab)
map <C-p> <Action>(PreviousTab)
map <Leader>j :e#<cr>

map <Leader>rn <Action>(RenameElement)
map <Leader><Esc> <Action>(HideAllWindows)

map <Leader><Space> <Action>(GotoFile)
map <Leader>fi <Action>(FindInPath)
map <Leader>ft <Action>(RiderUnitTestQuickListPopupAction)

map gr <Action>(FindUsages)
map gd <Action>(GotoDeclaration)

map <Leader>r :source ~/.ideavimrc<cr>

""" Options -------------------------------------------------------------------

set nu
set relativenumber
set showmode

set visualbell
set noerrorbellser
