start-at-login = true

accordion-padding = 60

after-startup-command = ['exec-and-forget sketchybar']

automatically-unhide-macos-hidden-apps = true

exec-on-workspace-change = [
    '/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[exec]
inherit-env-vars = true
[exec.env-vars]
PATH = '/usr/local/bin:${HOME}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

[mode.main.binding]

# Focus: alt hjkl
alt-h = 'focus --ignore-floating left'
alt-j = 'focus --ignore-floating down'
alt-k = 'focus --ignore-floating up'
alt-l = 'focus --ignore-floating right'

# Move: alt-cmd hjkl
alt-cmd-h = 'move left'
alt-cmd-j = 'move down'
alt-cmd-k = 'move up'
alt-cmd-l = 'move right'

# Join: ctrl-alt hjkl
ctrl-alt-h = ['join-with left', 'mode main']
ctrl-alt-j = ['join-with down', 'mode main']
ctrl-alt-k = ['join-with up', 'mode main']
ctrl-alt-l = ['join-with right', 'mode main']

# Layout adjustments
ctrl-cmd-a = 'layout tiling floating'
ctrl-cmd-s = 'layout tiles accordion'
ctrl-cmd-d = 'layout horizontal vertical'
ctrl-cmd-f = 'fullscreen'
ctrl-cmd-shift-f = 'fullscreen --no-outer-gaps'

# Focus monitors
ctrl-alt-cmd-h = 'focus-monitor left'
ctrl-alt-cmd-j = 'focus-monitor left'
ctrl-alt-cmd-k = 'focus-monitor right'
ctrl-alt-cmd-l = 'focus-monitor right'
ctrl-alt-cmd-space = 'move-workspace-to-monitor --wrap-around next'

# Focus (across monitors): ctrl-cmd hjkl
ctrl-cmd-h = 'focus --ignore-floating --boundaries all-monitors-outer-frame left'
ctrl-cmd-j = 'focus --ignore-floating --boundaries all-monitors-outer-frame down'
ctrl-cmd-k = 'focus --ignore-floating --boundaries all-monitors-outer-frame up'
ctrl-cmd-l = 'focus --ignore-floating --boundaries all-monitors-outer-frame right'

ctrl-cmd-1 = ['workspace 1']
ctrl-cmd-2 = ['workspace 2']
ctrl-cmd-3 = ['workspace 3']
ctrl-cmd-4 = ['workspace 4']
ctrl-cmd-5 = ['workspace 5']
ctrl-cmd-6 = ['workspace 6']
ctrl-cmd-7 = ['workspace 7']
ctrl-cmd-8 = ['workspace 8']
ctrl-cmd-9 = ['workspace 9']
ctrl-cmd-0 = ['workspace 10']

ctrl-cmd-shift-1 = ['move-node-to-workspace 1', 'workspace 1']
ctrl-cmd-shift-2 = ['move-node-to-workspace 2', 'workspace 2']
ctrl-cmd-shift-3 = ['move-node-to-workspace 3', 'workspace 3']
ctrl-cmd-shift-4 = ['move-node-to-workspace 4', 'workspace 4']
ctrl-cmd-shift-5 = ['move-node-to-workspace 5', 'workspace 5']
ctrl-cmd-shift-6 = ['move-node-to-workspace 6', 'workspace 6']
ctrl-cmd-shift-7 = ['move-node-to-workspace 7', 'workspace 7']
ctrl-cmd-shift-8 = ['move-node-to-workspace 8', 'workspace 8']
ctrl-cmd-shift-9 = ['move-node-to-workspace 9', 'workspace 9']
ctrl-cmd-shift-0 = ['move-node-to-workspace 10', 'workspace 10']

# Modes
alt-space = 'mode workspace'
ctrl-cmd-space = 'mode workspace'
alt-r = 'mode resize'
ctrl-cmd-r = 'mode resize'

[mode.resize.binding]
j = 'resize smart -100'
k = 'resize smart +100'
b = ['balance-sizes', 'mode main']
f = ['flatten-workspace-tree', 'mode main']
# Adjust gaps
i = ['exec-and-forget aerospace-config zen', 'mode main']
o = ['exec-and-forget aerospace-config comfy', 'mode main']
p = ['exec-and-forget aerospace-config max', 'mode main']
esc = ['reload-config', 'mode main']

[mode.workspace.binding]
space = [
    'exec-and-forget aerospace focus-back-and-forth || aerospace workspace-back-and-forth',
    'mode main'
]
m = [
    'move-workspace-to-monitor --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]
n = [
    'move-node-to-monitor --focus-follows-window --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]

1 = ['workspace 1', 'mode main']
2 = ['workspace 2', 'mode main']
3 = ['workspace 3', 'mode main']
4 = ['workspace 4', 'mode main']
5 = ['workspace 5', 'mode main']
6 = ['workspace 6', 'mode main']
7 = ['workspace 7', 'mode main']
8 = ['workspace 8', 'mode main']
9 = ['workspace 9', 'mode main']
0 = ['workspace 10', 'mode main']
shift-1 = ['move-node-to-workspace 1']
shift-2 = ['move-node-to-workspace 2']
shift-3 = ['move-node-to-workspace 3']
shift-4 = ['move-node-to-workspace 4']
shift-5 = ['move-node-to-workspace 5']
shift-6 = ['move-node-to-workspace 6']
shift-7 = ['move-node-to-workspace 7']
shift-8 = ['move-node-to-workspace 8']
shift-9 = ['move-node-to-workspace 9']
shift-0 = ['move-node-to-workspace 10']
h = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace prev'
j = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace prev'
k = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace next'
l = 'exec-and-forget aerospace list-workspaces --monitor focused --empty no | aerospace workspace next'
shift-h = 'move-node-to-workspace prev'
shift-j = 'move-node-to-workspace prev'
shift-k = 'move-node-to-workspace next'
shift-l = 'move-node-to-workspace next'
esc = ['reload-config', 'mode main']
