# https://nikitabobko.github.io/AeroSpace/guide
# https://nikitabobko.github.io/AeroSpace/commands

start-at-login = true

accordion-padding = 60

after-startup-command = ['exec-and-forget sketchybar']

automatically-unhide-macos-hidden-apps = true

exec-on-workspace-change = [
    '/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[exec]
inherit-env-vars = true
[exec.env-vars]
PATH = '/usr/local/bin:${HOME}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

[mode.main.binding]

# Focus: alt hjkl
alt-h = 'focus --ignore-floating left'
alt-j = 'focus --ignore-floating down'
alt-k = 'focus --ignore-floating up'
alt-l = 'focus --ignore-floating right'

# Move: alt-cmd hjkl
alt-cmd-h = 'move left'
alt-cmd-j = 'move down'
alt-cmd-k = 'move up'
alt-cmd-l = 'move right'

# Join: ctrl-alt hjkl
ctrl-alt-h = ['join-with left', 'mode main']
ctrl-alt-j = ['join-with down', 'mode main']
ctrl-alt-k = ['join-with up', 'mode main']
ctrl-alt-l = ['join-with right', 'mode main']

# Layout adjustments
ctrl-cmd-a = 'layout tiling floating'
ctrl-cmd-s = 'layout tiles accordion'
ctrl-cmd-d = 'layout horizontal vertical'
ctrl-cmd-f = 'fullscreen'
ctrl-cmd-shift-f = 'fullscreen --no-outer-gaps'

# Focus monitors
ctrl-alt-cmd-h = 'focus-monitor left'
ctrl-alt-cmd-j = 'focus-monitor left'
ctrl-alt-cmd-k = 'focus-monitor right'
ctrl-alt-cmd-l = 'focus-monitor right'
ctrl-alt-cmd-space = 'move-workspace-to-monitor --wrap-around next'

# Focus (across monitors): ctrl-cmd hjkl
ctrl-cmd-h = 'focus --ignore-floating --boundaries all-monitors-outer-frame left'
ctrl-cmd-j = 'focus --ignore-floating --boundaries all-monitors-outer-frame down'
ctrl-cmd-k = 'focus --ignore-floating --boundaries all-monitors-outer-frame up'
ctrl-cmd-l = 'focus --ignore-floating --boundaries all-monitors-outer-frame right'

# Modes
alt-space = 'mode workspace'
ctrl-cmd-space = 'mode workspace'
alt-r = 'mode resize'
ctrl-cmd-r = 'mode resize'

# --- Resize ---

[mode.resize.binding]
j = 'resize smart -100'
k = 'resize smart +100'
b = ['balance-sizes', 'mode main']
f = ['flatten-workspace-tree', 'mode main']
# Adjust gaps
i = ['exec-and-forget aerospace-config zen', 'mode main']
o = ['exec-and-forget aerospace-config comfy', 'mode main']
p = ['exec-and-forget aerospace-config max', 'mode main']
esc = ['reload-config', 'mode main']

# --- Workspace ---

[mode.workspace.binding]
# Move space to other monitor.
space = [
    'move-workspace-to-monitor --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]
# Move window to other monitor.
tab = [
    'move-node-to-monitor --focus-follows-window --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]
esc = ['mode main']
r = [
    '''exec-and-forget aerospace-config && osascript -e 'display notification "Aerospace config reloaded" with title "Aerospace"'''',
    'mode main'
]

j = ['workspace 1', 'mode main']
1 = ['workspace 1', 'mode main']
2 = ['workspace 2', 'mode main']
3 = ['workspace 3', 'mode main']
4 = ['workspace 4', 'mode main']
5 = ['workspace 5', 'mode main']
d = ['workspace D', 'mode main']
m = ['workspace M', 'mode main']
n = ['workspace N', 'mode main']
o = ['workspace O', 'mode main']
t = ['workspace T', 'mode main']
shift-j = ['move-node-to-workspace 1', 'workspace 1', 'mode main']
shift-1 = ['move-node-to-workspace 1', 'workspace 1', 'mode main']
shift-2 = ['move-node-to-workspace 2', 'workspace 2', 'mode main']
shift-3 = ['move-node-to-workspace 3', 'workspace 3', 'mode main']
shift-4 = ['move-node-to-workspace 4', 'workspace 4', 'mode main']
shift-d = ['move-node-to-workspace D', 'workspace D', 'mode main']
shift-m = ['move-node-to-workspace M', 'workspace M', 'mode main']
shift-n = ['move-node-to-workspace N', 'workspace N', 'mode main']
shift-o = ['move-node-to-workspace O', 'workspace 1', 'mode main']
shift-t = ['move-node-to-workspace T', 'workspace 1', 'mode main']

# Find app-id
#   aerospace list-apps
# window titles
#   aerospace list-windows --monitor all --format "%{monitor-id}:%{workspace}:%{app-name}:%{window-title}"

[[on-window-detected]]
    if.app-id = "com.mitchellh.ghostty"
    run = "move-node-to-workspace 1"

[[on-window-detected]]
    if.app-id = "org.mozilla.firefox"
    run = "move-node-to-workspace 1"

[[on-window-detected]]
    if.app-id = "com.postmanlabs.mac"
    run = "move-node-to-workspace 2"

[[on-window-detected]]
    if.app-id = "com.jetbrains.datagrip"
    run = "move-node-to-workspace D"

[[on-window-detected]]
    if.app-id = "com.microsoft.teams2"
    if.during-aerospace-startup = true
    run = "move-node-to-workspace M"

[[on-window-detected]]
    if.app-id = "com.microsoft.teams2"
    if.during-aerospace-startup = false
    run = "move-node-to-workspace 5"

[[on-window-detected]]
    if.app-id = "com.microsoft.Outlook"
    if.during-aerospace-startup = true
    run = "move-node-to-workspace O"

[[on-window-detected]]
    if.app-id = "com.microsoft.Outlook"
    if.window-title-regex-substring = ".*reminder.*"
    if.during-aerospace-startup = false
    run = "move-node-to-workspace 1"

[[on-window-detected]]
    if.app-id = "com.microsoft.Outlook"
    if.window-title-regex-substring = "^((?!reminder).)*$"
    if.during-aerospace-startup = false
    run = "move-node-to-workspace 5"

[[on-window-detected]]
    if.app-id = "com.todoist.mac.Todoist"
    run = "move-node-to-workspace T"

[workspace-to-monitor-force-assignment]
    M = ['built-in', 'main']
    O = ['built-in', 'main']
    T = ['built-in', 'main']
