# https://nikitabobko.github.io/AeroSpace/guide
# https://nikitabobko.github.io/AeroSpace/commands

start-at-login = true

accordion-padding = 60

after-startup-command = ['exec-and-forget sketchybar']

automatically-unhide-macos-hidden-apps = true

exec-on-workspace-change = [
    '/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[exec]
inherit-env-vars = true
[exec.env-vars]
PATH = '/usr/local/bin:${HOME}/bin:/opt/homebrew/bin:/opt/homebrew/sbin:${PATH}'

[mode.main.binding]

# Focus: alt hjkl
alt-h = 'focus --ignore-floating left'
alt-j = 'focus --ignore-floating down'
alt-k = 'focus --ignore-floating up'
alt-l = 'focus --ignore-floating right'

# Move: alt-cmd hjkl
alt-cmd-h = 'move left'
alt-cmd-j = 'move down'
alt-cmd-k = 'move up'
alt-cmd-l = 'move right'

# Join: ctrl-alt hjkl
ctrl-alt-h = ['join-with left', 'mode main']
ctrl-alt-j = ['join-with down', 'mode main']
ctrl-alt-k = ['join-with up', 'mode main']
ctrl-alt-l = ['join-with right', 'mode main']

# Layout adjustments
ctrl-cmd-a = 'layout tiling floating'
ctrl-cmd-s = 'layout tiles accordion'
ctrl-cmd-d = 'layout horizontal vertical'
ctrl-cmd-f = 'fullscreen'
ctrl-cmd-shift-f = 'fullscreen --no-outer-gaps'

# Focus monitors
ctrl-alt-cmd-h = 'focus-monitor left'
ctrl-alt-cmd-j = 'focus-monitor left'
ctrl-alt-cmd-k = 'focus-monitor right'
ctrl-alt-cmd-l = 'focus-monitor right'
ctrl-alt-cmd-space = 'move-workspace-to-monitor --wrap-around next'

# Focus (across monitors): ctrl-cmd hjkl
ctrl-cmd-h = 'focus --ignore-floating --boundaries all-monitors-outer-frame left'
ctrl-cmd-j = 'focus --ignore-floating --boundaries all-monitors-outer-frame down'
ctrl-cmd-k = 'focus --ignore-floating --boundaries all-monitors-outer-frame up'
ctrl-cmd-l = 'focus --ignore-floating --boundaries all-monitors-outer-frame right'

# Modes
alt-space = 'mode workspace'
ctrl-cmd-space = 'mode workspace'
alt-r = 'mode resize'
ctrl-cmd-r = 'mode resize'

# --- Resize ---

[mode.resize.binding]
j = 'resize smart -100'
k = 'resize smart +100'
b = ['balance-sizes', 'mode main']
f = ['flatten-workspace-tree', 'mode main']
# Adjust gaps
i = ['exec-and-forget aerospace-config zen', 'mode main']
o = ['exec-and-forget aerospace-config comfy', 'mode main']
p = ['exec-and-forget aerospace-config max', 'mode main']
esc = ['reload-config', 'mode main']

# --- Workspace ---

[mode.workspace.binding]
# Move space to other monitor.
space = [
    'move-workspace-to-monitor --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]
# Move window to other monitor.
tab = [
    'move-node-to-monitor --focus-follows-window --wrap-around next',
    'exec-and-forget sketchybar --trigger aerospace_workspace_change',
    'mode main'
]
esc = ['reload-config', 'mode main']

1 = ['workspace 1', 'mode main']
2 = ['workspace 2', 'mode main']
3 = ['workspace 3', 'mode main']
4 = ['workspace 4', 'mode main']
5 = ['workspace 5', 'mode main']
6 = ['workspace 6', 'mode main']
7 = ['workspace 7', 'mode main']
8 = ['workspace 8', 'mode main']
9 = ['workspace 9', 'mode main']
0 = ['workspace 10', 'mode main']
a = ['workspace A', 'mode main']
b = ['workspace B', 'mode main']
c = ['workspace C', 'mode main']
d = ['workspace D', 'mode main']
e = ['workspace E', 'mode main']
f = ['workspace F', 'mode main']
g = ['workspace G', 'mode main']
h = ['workspace H', 'mode main']
i = ['workspace I', 'mode main']
j = ['workspace J', 'mode main']
k = ['workspace K', 'mode main']
l = ['workspace L', 'mode main']
m = ['workspace M', 'mode main']
n = ['workspace N', 'mode main']
o = ['workspace O', 'mode main']
p = ['workspace P', 'mode main']
q = ['workspace Q', 'mode main']
r = ['workspace R', 'mode main']
s = ['workspace S', 'mode main']
t = ['workspace T', 'mode main']
u = ['workspace U', 'mode main']
v = ['workspace V', 'mode main']
w = ['workspace W', 'mode main']
x = ['workspace X', 'mode main']
y = ['workspace Y', 'mode main']
z = ['workspace Z', 'mode main']
shift-1 = ['move-node-to-workspace 1']
shift-2 = ['move-node-to-workspace 2']
shift-3 = ['move-node-to-workspace 3']
shift-4 = ['move-node-to-workspace 4']
shift-5 = ['move-node-to-workspace 5']
shift-6 = ['move-node-to-workspace 6']
shift-7 = ['move-node-to-workspace 7']
shift-8 = ['move-node-to-workspace 8']
shift-9 = ['move-node-to-workspace 9']
shift-0 = ['move-node-to-workspace 10']
shift-a = ['move-node-to-workspace A']
shift-b = ['move-node-to-workspace B']
shift-c = ['move-node-to-workspace C']
shift-d = ['move-node-to-workspace D']
shift-e = ['move-node-to-workspace E']
shift-f = ['move-node-to-workspace F']
shift-g = ['move-node-to-workspace G']
shift-h = ['move-node-to-workspace H']
shift-i = ['move-node-to-workspace I']
shift-j = ['move-node-to-workspace J']
shift-k = ['move-node-to-workspace K']
shift-l = ['move-node-to-workspace L']
shift-m = ['move-node-to-workspace M']
shift-n = ['move-node-to-workspace N']
shift-o = ['move-node-to-workspace O']
shift-p = ['move-node-to-workspace P']
shift-q = ['move-node-to-workspace Q']
shift-r = ['move-node-to-workspace R']
shift-s = ['move-node-to-workspace S']
shift-t = ['move-node-to-workspace T']
shift-u = ['move-node-to-workspace U']
shift-v = ['move-node-to-workspace V']
shift-w = ['move-node-to-workspace W']
shift-x = ['move-node-to-workspace X']
shift-y = ['move-node-to-workspace Y']
shift-z = ['move-node-to-workspace Z']

# Find app-id: aerospace list-apps

# J: Main
[[on-window-detected]]
    if.app-id = "com.mitchellh.ghostty"
    run = "move-node-to-workspace J"

[[on-window-detected]]
    if.app-id = "org.mozilla.firefox"
    run = "move-node-to-workspace J"

# D: Datagrip
[[on-window-detected]]
    if.app-id = "com.jetbrains.datagrip"
    run = "move-node-to-workspace D"

# T: Todoist
[[on-window-detected]]
    if.app-id = "com.todoist.mac.Todoist "
    run = "move-node-to-workspace D"

# M: (Messaging) Teams default space
[[on-window-detected]]
    if.app-id = "com.microsoft.teams2"
    if.during-aerospace-startup = true
    run = "move-node-to-workspace M"

# O: Outlook
[[on-window-detected]]
    if.app-id = "com.microsoft.Outlook"
    if.during-aerospace-startup = true
    run = "move-node-to-workspace O"

# N: Teams spawned windows
[[on-window-detected]]
    if.app-id = "com.microsoft.teams2"
    if.during-aerospace-startup = false
    run = "move-node-to-workspace N"

# N: Outlook spawned windows
[[on-window-detected]]
    if.app-id = "com.microsoft.Outlook"
    if.during-aerospace-startup = false
    run = "move-node-to-workspace N"

[workspace-to-monitor-force-assignment]
    T = ['built-in', 'main']
    O = ['built-in', 'main']
    M = ['built-in', 'main']
