@import "mocha.css";

* {
    border: none;
    border-radius: 10px;
    font-family: "Hack Nerd Font Mono";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @text;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: @surface0;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 13px;
}

#workspaces button.persistent {
    color: @yellow;
}

#workspaces button.empty {
    color: @surface0;
}

#workspaces button.active,
#workspaces button.visible {
    color: @blue;
    box-shadow: inset 0 -1px @base;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#custom-power,
#window,
#cpu,
#window,
#clock,
#pulseaudio,
#workspaces,
#tray,
#memory,
#disk,
#tray {
    background: @base;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

#workspaces {
    background: @base;
    border-radius: 13px;
    margin-left: 5px;
    padding-right: 0px;
}

/* Left */

#custom-power {
    color: @blue;
    border-radius: 13px 0px 0px 13px;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

#window {
    border-radius: 0px 13px 13px 0px;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Right */

#pulseaudio {
    color: @blue;
    border-radius: 13px 0px 0px 13px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
}

#clock {
    color: @blue;
    border-radius: 0px 13px 13px 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
}

#network {
    color: @yellow;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
}

#custom-notifications {
    color: @yellow;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left: 2px;
    margin-right: 2px;
}

#custom-updates {
    color: @blue;
    border-radius: 7px 7px 7px 7px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

#custom-player {
    color: @mauve;
    border-radius: 7px 7px 7px 7px;
    padding-left: 4px;
    margin-left:  5px;
    margin-right: 5px;
}

#cpu {
    color: @blue;
    border-radius: 13px 0px 0px 13px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#memory {
    color: @blue;
    border-radius: 0px 13px 13px 0px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right:0px;
}

#disk {
    color: @yellow;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}


